
.map-container {
    height: 100vh;
    background-color: #d4d4d4;
}

.lr-container {
    display: flex;
    flex-direction: row;
    /*height: calc(100% - 54px);*/
    height: 100%;
}

.left-side {
    flex-grow: 1;
    background: #ccc;
    max-width: 30%;
}

.right-side {
    flex-grow: 1;
}

.scroll-container {
    height: calc(100vh - 64px);
    overflow-y: auto;
}
